@import url(reset.css);
#top-line{
	background:#090909;
	height:16px;
}

body{
	font:12px/1.6 Arial,Verdana,Tahoma,sans-serif;
	color:#5d5d5d;
	background:#f4f4f4;
}

a{
	font-weight:bold;
	color:#fe9b00;
	text-decoration:none;
	text-transform:uppercase;
	line-height:1;
}

p{
	margin:8px 0;
}

h2{
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	color:#090909;
	padding-left:27px;
	background:url(../images/arrow.png) no-repeat 0 9px;
	margin-bottom:18px;
}

h3{
	font-size:12px;
	font-weight:bold;
	color:#090909;
	padding-left:22px;
	background:url(../images/small-arrow.png) no-repeat 0 8px;
	margin-bottom:20px;
	text-transform:uppercase;
}

.active,a:hover{	
   color:#090909;	
}

#wrapper{
	width:960px;
	margin:0 auto;
}

#logo{
	height:100px;
	width:183px;
	float:left;
}

#header{
	padding:20px 0 16px 0;
	border-bottom:1px solid #c0c0c0;
	overflow:hidden;
	
}

#menu{
	float:right;
	margin-top:43px;
}

#menu ul li{
	float:left;
	margin-left:63px;
}

#header-image{
	margin-top:20px;
	height:380px;
	background:url(../images/header-image.jpg) no-repeat;
	padding-bottom:20px;
	border-bottom:1px solid #c0c0c0;
	position:relative;
}
#black-box{
	height:43px;
	background:#090909;
	width:443px;
	position:absolute;
	left:35px;
	bottom:64px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:15px;
	color:#999898;
}

#black-box p{
	margin:16px 14px;
	line-height:1;
}

#black-box a:hover{
	color:#fe9b00;
}

#black-box a {
	float:right;
}

#content{
	margin-top:20px;
	border-bottom:1px solid #c0c0c0;
	overflow:hidden;
	padding-bottom:24px;
}

#content-box,#image{
	margin-right:0;
}

.content-box{
	width:285px;
	float:left;
	margin-right:52px;
}

.content-box h2{
	padding-bottom:3px;
	margin-bottom:16px;
	border-bottom:5px solid #090909;
}

.content-box ul li{
	background:url(../images/choice.png) no-repeat 0 3px ; 
	padding-left:28px;
	margin-bottom:12px;
	line-height:1.3;
}

#italic{
	font-style:italic;
	color:#090909;
	margin-top:20px;
}

#portfolio{
	margin-top:20px;
	padding-bottom:33px;
	border-bottom:1px solid #c0c0c0;
	overflow:hidden;
}

.portfolio-image{
	height:135px;
	width:215;
	float:left;
	margin-right:33px;
	position:relative;
}

.portfolio-image a{
	color:#090909;
	font-weight:bold;
	display:block;
	position:absolute;
	right:0;
	bottom:0;
	background:#fe9b00;
	padding:4px 10px;
	line-height:1;
}


#bottom-row{
	margin-top:20px;
	padding-bottom:45px;
	overflow:hidden;
}

#blog{
	float:left;
	width:670px;
}

#social{
	float:right;
	width:220px;
}

#social ul li{
	float:left;
	margin-right:14px;
}

#footer{
	background:#e2e2e2;
	padding:32px 0 36px 0;
	margin-top:33px;
}

#footer-content{
	width:960px;
	margin:0 auto;
	position:relative;
}

#footer-content ul{
	overflow:hidden;
}

#footer-content ul li{
	float:left;
	border-left:1px solid #5d5d5d;
	line-height:1;
	padding:0 7px ;
}

#footer-content ul li:first-child{
	border:none;
	padding-left:0;
}


#footer-content a{
	color:#5d5d5d;
	font-weight:normal;
	text-transform:capitalize;
}

#footer-logo{
	height:64px;
	width:119px;
	background:url(../images/logo-footer.png) no-repeat;
	position:absolute;
	top:-12px;
	right:0;
	float:right;
	
}